*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(4, 4, 52);
}
/* header style */
.head{
    width: 100%;
    height: 90px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border: 1px solid black;
}
.circle{
    position: absolute;
    height: 70px;
    width: 70px;
    border:2px solid rgb(0, 107, 128);
    border-radius:50px;
    top:15%;
    left:2%;
}
.logo{
    position: absolute;
    top:30%;
    left:3.5%;
    font-size: 40px;
    font-weight: bold;
}
.hp1{
    position: absolute;
    top:40%;
    left:40%;
    color: white;
}
.hp1:hover{
    color:rgb(0, 107, 128);
}
.hp2{
    position: absolute;
    top:40%;
    left:50%;
    color: white;
}
.hp2:hover{
    color:rgb(0, 107, 128);
}
.hp3{
    position: absolute;
    top:40%;
    left:60%;
    color: white;
}
.hp3:hover{
    color:rgb(0, 107, 128);
}
.hp4{
    position: absolute;
    top:40%;
    left:72%;
    color: white;
}
.hp4:hover{
    color:rgb(0, 107, 128);
}
.hp5{
    position: absolute;
    top:40%;
    left:80%;
    color: white;
}
.hp5:hover{
    color:rgb(0, 107, 128);
}
.hp6{
    position: absolute;
    top:40%;
    left:90%;
    color: white;
}
.hp6:hover{
    color:rgb(0, 107, 128);
}
.topnav{
    display:none;
}

/* home style */
.home{
    width: 100%;
    height: 800px;
    color: white;
    position: relative;
}
.name{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top:18%;
    left:3%;
}
.domine{
    position: absolute;
    color:yellow;
    font-size: 25px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top:27%;
    left:3%;
}
.domine1{display:none;}
.intropara1{display: none;}
.intropara{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    top:35%;
    left:3%;
    letter-spacing:1px;
    line-height: 21px;
}

.circle1{
    position: absolute;
    height: 240px;
    width: 240px;
    border:2px solid white;
    border-radius:50%;
    top:35%;
    right:10%;
    box-shadow: 0 0 37px  30px yellow;
    background-color: white;
}
#myimg{
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}
.img{
    position: absolute;
    font-size: 25px;
    top:56%;
    left:5%;
}
.img1{
    position: absolute;
    font-size: 25px;
    top:56%;
    left:12%;
}
.img2{
    position: absolute;
    font-size: 25px;
    top:56%;
    left:19%;
}
.img3{
    position: absolute;
    font-size: 25px;
    top:56%;
    left:26%;
}
#btn {
    position: absolute;
    top:66%;
    left: 9%;
    font-size: 17px;
    width:110px;
    height:40px;
    border: 1px solid #fea609;
    border-radius: 30px;
    color: white;
    background-color: #fea609;
    cursor: pointer;
}

/* About style */
.about{
    height: 600px;
    width: 100%;
    position: relative;
    padding: 0px;
}
.title{
    color:pink;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    font-family:inherit;
    left:3%;
    top:0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.line{
    position: absolute;
    width: 40%;
    left:21%;
    top:5%;
}
.box{
    position: absolute;
    width: 25%;
    height: 70%;
    left:6%;
    top:27%;
    border: 2px solid white;
    box-shadow: 2px 2px 2px 2px white;
    border-radius: 20px;
    transition: all,1.5s;
}
.img4{
    position: absolute;
    left:9.4%;
    top:22%;
    width:311px;
    height: 415px;
    border-radius: 20px;
}
.box:hover{
    left:7%;
    top:25%;
    border: 2px solid yellow;
    box-shadow: 2px 2px 2px 2px yellow;
}
.role{
    position: absolute;
    left:40%;
    top:33%;
    color: yellow;
}
.para1{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family:inherit;
    top:44%;
    left:40%;
    letter-spacing:1px;
    line-height: 21px;
    color: white;
}
.para2{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family:inherit;
    top:58%;
    left:40%;
    letter-spacing:1px;
    line-height: 21px;
    color: white;
}
.para3{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family:inherit;
    top:74%;
    left:40%;
    letter-spacing:1px;
    line-height: 21px;
    color: white;
}

/* experience style */
.experience{
    height: 800px;
    width: 100%;
    position: relative;
    padding: 0px;
}
.line1{
    position: absolute;
    width: 40%;
    left:25%;
    top:4%;
}
.box1{
    position: absolute;
    width:400px;
    height: 450px;
    border: 2px solid white;
    border-radius: 20px;
    background-color:#232b41;
    left:10%;
    top:28%;
}
.htmltagimg{
    position: absolute;
    left:35%;
    top:8%;
}
.title1{
    position:absolute;
    top:36%;
    left:19%;
    font-size: 17px;
    color:yellow;
}
.para4{
    color:white;
    position: absolute;
    top:52%;
    letter-spacing:1px;
    line-height: 25px;
    text-align: justify;
    margin: 25px;
}
.box2{
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 450px;
    border: 2px solid white;
    background-color:#232b41;
    border-radius: 20px;
    right: 10%;
    top:28%;
}

/* skills style */
.skills{
    height: 800px;
    width: 100%;
    position: relative;
}
.line2{
    position: absolute;
    width: 40%;
    left:15%;
    top:4%;
}
.skbox1{
    position: absolute;
    width: 190px;
    height: 190px;
    border: 1px solid white;
    background-color:#232b41;
    border-radius: 20px;
    top:20%;
    left:8%;
}
.skbox2{
    position: absolute;
    width: 190px;
    height: 190px;
    border: 1px solid white;
    background-color: #232b41;
    border-radius: 20px;
    top:20%;
    left:33%;
}
.skbox3{
    position: absolute;
    width: 190px;
    height: 190px;
    border: 1px solid white;
    background-color:#232b41;
    border-radius: 20px;
    top:20%;
    left:56%;
}
.skbox4{
    position: absolute;
    width: 190px;
    height: 190px;
    border: 1px solid white;
    background-color: #232b41;
    border-radius: 20px;
    top:20%;
    left:79%;
}
.skbox5{
    position: absolute;
    width: 190px;
    height: 190px;
    border: 1px solid white;
    background-color:#232b41;
    border-radius: 20px;
    top:60%;
    left:8%;
}
.skbox6{
    position: absolute;
    width: 190px;
    height: 190px;
    border: 1px solid white;
    background-color:#232b41;
    border-radius: 20px;
    top:60%;
    left:33%;
}
.skbox7{
    position: absolute;
    width: 190px;
    height: 190px;
    border: 1px solid white;
    background-color:#232b41;
    border-radius: 20px;
    top:60%;
    left:56%;
}
.skimg1{
    position: absolute;
    top:20%;
    left:23%;
}
.skimg2{
    position: absolute;
    top:22%;
    left:23%;
    width: 100px;
    height: 100px;
}
.skimg3{
    position: absolute;
    top:22%;
    left:23%;
    width: 100px;
    height: 100px;
}
.skpara1{
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top:48%;
    left:13%;
}
.skpara2{
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top:48%;
    left:38%;
}
.skpara3{
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top:48%;
    left:59%;
}
.skpara4{
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top:48%;
    left:82%;
}
.skpara5{
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top:89%;
    left:13%;
}
.skpara6{
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top:89%;
    left:38%;
}
.skpara7{
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top:89%;
    left:63%;
}

/* projects style */
.project{
    height:1500px;
    width: 100%;
    position: relative;
}
.line3{
    position: absolute;
    width: 30%;
    left:46%;
    top:2.3%;
}
.pimg1{
    position: absolute;
    width: 75%;
    height: 350px;
    top:10%;
    left:11%;
}
.pt1{
    position: absolute;
    top:35%;
    right: 13.5%;
    color:white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.prexp{
    position: absolute;
    top:39%;
    left:11%;
    width: 75%;
    height: 98px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.204);
    border-radius: 5px;
    padding: 10px;
}
.prexp1{
    position:absolute;
    letter-spacing:1px;
    line-height: 21px;
    color:rgb(249, 249, 83);
    font-size: 18px;
}
.prlogo1{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 25%;
    top:47%;
}
.prlogo2{
    position: absolute;
    right: 17%;
    top:47%;
}
.pimg2{
    position: absolute;
    width: 75%;
    height: 350px;
    top:57%;
    left:11%;
}
.pt2{
    position: absolute;
    top:82%;
    right: 13.5%;
    color:white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.prexp2{
    position: absolute;
    top:86%;
    left:11%;
    width: 75%;
    height: 90px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.204);
    border-radius: 5px;
    padding: 10px;
}
.prexp3{
    position:absolute;
    letter-spacing:1px;
    line-height: 21px;
    color:rgb(249, 249, 83);
    font-size: 18px;
}
.prlogo3{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 25%;
    top:95%;
}
.prlogo4{
    position: absolute;
    right: 17%;
    top:95%;
}


/* contact style */

.contact{
    height:600px;
    width: 100%;
    position: relative;
}
.line4{
    position: absolute;
    width: 30%;
    left:26%;
    top:5.5%;
}
.con_title{
    position: absolute;
    color:yellow;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left:38%;
    top:22%;
}
.con_para1{
    position: absolute;
    color: white;
    top:32%;
    left:10%;
    font-size: 20px;
    letter-spacing:1px;
    line-height: 25px;
    margin: 30px;
}
.btn {
    position: absolute;
    top:60%;
    left: 45%;
    font-size: 17px;
    width:110px;
    height:40px;
    border: 1px solid #fea609;
    border-radius: 30px;
    color: white;
    background-color: #fea609;
    cursor: pointer;
}
.con_img1{
    position: absolute;
    top:78%;
    left:38%;
    font-size:35px;
}
.con_img2{
    position: absolute;
    top:78%;
    left:48%;
    font-size:35px;
}
.con_img3{
    position: absolute;
    top:78%;
    left:58%;
    font-size:35px;
}

/* MEDIA QUERY FOR MOBILE DEVICES*/

@media only screen and (max-width: 600px) 
{
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    .head{
        display:none;
    }
    .topnav{
        display: block;
        background-color:transparent;
        position: relative;
        width: 890px;
        position: sticky;
        top:0px;
        z-index: 2;
        border-bottom: 2px solid white;
        
    }
    .topnav #mylink{
        display: none;
        z-index: 2;
    }
    .topnav a{
        color:white;
        text-decoration: none;
        padding: 14px 16px;
        font-size: 50px;
        display: block;
        background-color:rgb(4, 4, 52);
    }
    .topnav a.icon{
        background-color: black;
        position: absolute;
        right:0px;
        top:0px;
        z-index: 1;
    }
    .topnav a:hover{
        background-color:transparent;
        color: white;
        z-index: 1;
    }
    #demo{
        width: 890px;
    }

    .home{
        width: 890px;
        height: 1600px;
        color: white;
        position: relative;
        border-bottom: 2px solid white;
    }
    .circle1{
        position: absolute;
        height: 300px;
        width: 300px;
        border:2px solid white;
        border-radius:50%;
        top:8%;
        left:32%;
        box-shadow: 0 0 37px  30px yellow;
        background-color: white;
    }
    #myimg{
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .name{
        position: absolute;
        font-size: 50px;
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        top:34%;
        left:29%;
    }
    .domine{display:none;}
    .domine1{
        position: absolute;
        color:yellow;
        font-size: 35px;
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        top:40%;
        left:10%;
        display: block;
    }
    .intropara{display: none;}
    .intropara1{
        position: absolute;
        font-size: 32px;
        font-family:'Times New Roman', Times, serif;
        top:49%;
        left:10%;
        margin-right: 95px;
        letter-spacing:2px;
        line-height:55px;
        display: block;
        text-align: justify;
    }
    .img{
        position: absolute;
        font-size: 60px;
        top:80%;
        left:15%;
    }
    .img1{
        position: absolute;
        font-size: 60px;
        top:80%;
        left:35%;
    }
    .img2{
        position: absolute;
        font-size: 60px;
        top:80%;
        left:55%;
    }
    .img3{
        position: absolute;
        font-size: 60px;
        top:80%;
        left:75%;
    }
    #btn {
        position: absolute;
        top:90%;
        left:35%;
        font-size:35px;
        width:250px;
        height:100px;
        border: 1px solid #fea609;
        border-radius: 50px;
        color: white;
        background-color: #fea609;
        cursor: pointer;
    }

        
    /* About style */
    .about{
        height: 1900px;
        width: 890px;
        position: relative;
        padding: 0px;
        border-bottom: 2px solid white;
    }
    .box{
        display: none;
    }
    .img4{
        position: absolute;
        top:8%;
        left:32%;
        width:300px;
        height: 300px;
        border-radius: 50%;
        border: 15px solid yellow;
    }
    .title{
        color:pink;
        position: absolute;
        font-size: 50px;
        font-weight: bold;
        font-family:inherit;
        left:33%;
        top:27%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .line{
        display: none;
    }
    .role{
        position: absolute;
        left:22%;
        top:34%;
        font-size: 40px;
        color: yellow;
    }
    .para1{
        position: absolute;
        font-size: 32px;
        font-family:'Times New Roman', Times, serif;
        top:39%;
        left:10%;
        margin-right:95px;
        letter-spacing:2px;
        line-height:55px;
        text-align: justify;
    }
    .para2{
        position: absolute;
        font-size: 32px;
        font-family:'Times New Roman', Times, serif;
        top:59%;
        left:10%;
        margin-right:95px;
        letter-spacing:2px;
        line-height:55px;
        text-align: justify;
    }
    .para3{
        position: absolute;
        font-size: 32px;
        font-family:'Times New Roman', Times, serif;
        top:77%;
        left:10%;
        margin-right:95px;
        letter-spacing:2px;
        line-height:55px;
        text-align: justify;
    }

        
    /* experience style */
    .experience{
        height: 2500px;
        width: 890px;
        position: relative;
        padding: 0px;
        border-bottom:1px solid white;
    }
    #exp_title{
        color:pink;
        position: absolute;
        font-size: 50px;
        font-weight: bold;
        font-family:inherit;
        left:33%;
        top:0%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .line1{display: none;}
    .box1{
        position: absolute;
        width:650px;
        height: 950px;
        border: 2px solid white;
        border-radius: 20px;
        background-color:#232b41;
        left:13%;
        top:9%;
    }
    .htmltagimg{
        position: absolute;
        left:35%;
        top:6%;
        width: 230px;
        height: 150px;
    }
    .title1{
        position:absolute;
        top:30%;
        left:8%;
        font-size: 40px;
        color:yellow;
    }
    .para4{
        color:white;
        position: absolute;
        top:33%;
        font-size: 32px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing:2px;
        line-height: 55px;
        text-align: justify;
        margin:60px;
    }
    .box2{
        position: absolute;
        width:650px;
        height: 950px;
        border: 2px solid white;
        border-radius: 20px;
        background-color:#232b41;
        left:13%;
        top:54%;
    }

    
    /* skills style */
    .skills{
        height: 1600px;
        width: 890px;
        position: relative;
        border-bottom: 1px solid white;
    }
    #sktitle{
        color:pink;
        position: absolute;
        font-size: 50px;
        font-weight: bold;
        font-family:inherit;
        left:38%;
        top:5%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .line2{display: none;}
    .skbox1{
        position: absolute;
        width: 190px;
        height: 190px;
        border: 2px solid white;
        background-color:#232b41;
        border-radius: 20px;
        top:17%;
        left:10%;
    }
    .skbox2{
        position: absolute;
        width: 190px;
        height: 190px;
        border: 2px solid white;
        background-color: #232b41;
        border-radius: 20px;
        top:17%;
        left:40%;
    }
    .skbox3{
        position: absolute;
        width: 190px;
        height: 190px;
        border: 2px solid white;
        background-color:#232b41;
        border-radius: 20px;
        top:17%;
        left:70%;
    }
    .skbox4{
        position: absolute;
        width: 190px;
        height: 190px;
        border: 2px solid white;
        background-color: #232b41;
        border-radius: 20px;
        top:42%;
        left:10%;
    }
    .skbox5{
        position: absolute;
        width: 190px;
        height: 190px;
        border: 2px solid white;
        background-color:#232b41;
        border-radius: 20px;
        top:42%;
        left:40%;
        
    }
    .skbox6{
        position: absolute;
        width: 190px;
        height: 190px;
        border: 2px solid white;
        background-color:#232b41;
        border-radius: 20px;
        top:42%;
        left:70%;
        
    }
    .skbox7{
        position: absolute;
        width: 190px;
        height: 190px;
        border: 2px solid white;
        background-color:#232b41;
        border-radius: 20px;
        top:67%;
        left:10%;
    }
    .skpara1{
        color: white;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        top:32%;
        left:15%;
        letter-spacing: 1px;
    }
    .skpara2{
        color: white;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        top:32%;
        left:48%;
        letter-spacing: 1px;
    }
    .skpara3{
        color: white;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        top:32%;
        left:69%;
        letter-spacing: 1px;
    }
    .skpara4{
        color: white;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        top:58%;
        left:9%;
    }
    .skpara5{
        color: white;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        top:58%;
        left:44%;
    }
    .skpara6{
        color: white;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        top:58%;
        left:73%;
    }
    .skpara7{
        color: white;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        top:81%;
        left:17%;
    }

    /* projects style */
    .project{
        height:2500px;
        width: 890px;
        position: relative;
        border-bottom: 1px solid white;
    }
    .line3{display: none;}
    #prtitle{
        color:pink;
        position: absolute;
        font-size: 50px;
        font-weight: bold;
        font-family:inherit;
        left:14%;
        top:2%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .pimg1{
        position: absolute;
        width: 75%;
        height: 350px;
        top:10%;
        left:13%;
    }
    .pt1{
        position: absolute;
        top:26%;
        right: 13%;
        color:white;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .prexp{
        position: absolute;
        top:30%;
        left:8%;
        width: 85%;
        height: 400px;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.204);
        border-radius: 5px;
        
    }
    .prexp1{
        color:rgb(249, 249, 83);
        position: absolute;
        font-size: 32px;
        font-family:'Times New Roman', Times, serif;
        top:2%;
        left:5%;
        margin-right: 25px;
        letter-spacing:2px;
        line-height:55px;
        display: block;
        text-align: justify;
    }
    .prlogo1{
        position: absolute;
        width: 100px;
        height: 100px;
        right: 28%;
        top:47%;
    }
    .prlogo2{
        position: absolute;
        width: 100px;
        height: 100px;
        right: 13%;
        top:47%;
    }
    .pimg2{
        position: absolute;
        width: 75%;
        height: 350px;
        top:57%;
        left:13%;
    }
    .pt2{
        position: absolute;
        top:73%;
        right: 13%;
        color:white;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .prexp2{
        position: absolute;
        top:78%;
        left:8%;
        width: 85%;
        height: 300px;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.204);
        border-radius: 5px;
    }
    .prexp3{
        color:rgb(249, 249, 83);
        position: absolute;
        font-size: 32px;
        font-family:'Times New Roman', Times, serif;
        top:2%;
        left:5%;
        margin-right: 25px;
        letter-spacing:2px;
        line-height:55px;
        display: block;
        text-align: justify;
    }
    .prlogo3{
        position: absolute;
        width: 100px;
        height: 100px;
        right: 28%;
        top:91%;
    }
    .prlogo4{
        position: absolute;
        width: 100px;
        height: 100px;
        right: 13%;
        top:91%;
    }
        
    /* contact style */

    .contact{
        height:1000px;
        width: 890px;
        position: relative;
    }
    .line4{display: none;}
    #contitle{
        display: block;
        color:pink;
        position: absolute;
        font-size: 60px;
        font-weight: bold;
        font-family:inherit;
        left:28%;
        top:2%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .con_title{
        color:yellow;
        position: absolute;
        font-size: 45px;
        font-weight: bold;
        font-family:inherit;
        left:33%;
        top:12%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .con_para1{
        color:white;
        position: absolute;
        top:17%;
        left:3%;
        font-size: 32px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing:2px;
        line-height: 55px;
        text-align: justify;
        margin:60px;
    }
    .btn {
        position: absolute;
        top:64%;
        left:35%;
        font-size:35px;
        width:250px;
        height:100px;
        border: 1px solid #fea609;
        border-radius: 50px;
        color: white;
        background-color: #fea609;
        cursor: pointer;
    }
    .con_img1{
        position: absolute;
        top:85%;
        left:25%;
        font-size:70px;
    }
    .con_img2{
        position: absolute;
        top:85%;
        left:45%;
        font-size:70px;
        
    }
    .con_img3{
        position: absolute;
        top:85%;
        left:65%;
        font-size:70px;
    }
}

