*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(2, 2, 29);
}
.head{
    width: 100%;
    height: 90px;
    color:rgb(0, 107, 128);
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border: 1px solid black;
}
.circle{
    position: absolute;
    height: 70px;
    width: 70px;
    border:2px solid rgb(0, 107, 128);
    border-radius:50px;
    top:15%;
    left:2%;
}
.logo{
    position: absolute;
    top:30%;
    left:3.5%;
    font-size: 40px;
    font-weight: bold;
}
.hp1{
    position: absolute;
    top:40%;
    left:40%;
}
.hp2{
    position: absolute;
    top:40%;
    left:50%;
}
.hp3{
    position: absolute;
    top:40%;
    left:60%;
}
.hp4{
    position: absolute;
    top:40%;
    left:70%;
}
.hp5{
    position: absolute;
    top:40%;
    left:80%;
}
.hp6{
    position: absolute;
    top:40%;
    left:90%;
}
.home{
    width: 100%;
    height: 800px;
    color: white;
    position: relative;
}
.name{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    font-family:inherit;
    top:20%;
    left:3%;
}
.domine{
    position: absolute;
    color:yellow;
    font-size: 25px;
    font-weight: bold;
    font-family:inherit;
    top:27%;
    left:3%;
}
.intropara{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family:inherit;
    top:35%;
    left:3%;
    letter-spacing:1px;
    line-height: 21px;
}
.circle1{
    position: absolute;
    height: 240px;
    width: 240px;
    border:2px solid white;
    border-radius:50%;
    top:35%;
    right:10%;
    /*box-shadow: 20px 2  yellow;*/
    background-color: white;
}
.img{
    position: absolute;
    font-size: 25px;
    top:56%;
    left:5%;
}
.img1{
    position: absolute;
    font-size: 25px;
    top:56%;
    left:12%;
}
.img2{
    position: absolute;
    font-size: 25px;
    top:56%;
    left:19%;
}
.img3{
    position: absolute;
    font-size: 25px;
    top:56%;
    left:26%;
}
.about{
    height: 600px;
    width: 100%;
    position: relative;
    padding: 0px;
}
.title{
    color:pink;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    font-family:inherit;
    left:3%;
    top:0%;
}
.line{
    position: absolute;
    width: 40%;
    left:21%;
    top:5%;
}
.box{
    position: absolute;
    width: 25%;
    height: 70%;
    left:6%;
    top:27%;
    border: 2px solid white;
    box-shadow: 2px 2px 2px 2px white;
    border-radius: 20px;
    transition: all,1.5s;
}
.img4{
    position: absolute;
    left:9.4%;
    top:22%;
    width:311px;
    height: 415px;
    border-radius: 20px;
}
.box:hover{
    left:7%;
    top:25%;
    border: 2px solid yellow;
    box-shadow: 2px 2px 2px 2px yellow;
}
.role{
    position: absolute;
    left:40%;
    top:33%;
    color: yellow;
}
.para1{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family:inherit;
    top:44%;
    left:40%;
    letter-spacing:1px;
    line-height: 21px;
    color: white;
}
.para2{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family:inherit;
    top:58%;
    left:40%;
    letter-spacing:1px;
    line-height: 21px;
    color: white;
}
.para3{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family:inherit;
    top:74%;
    left:40%;
    letter-spacing:1px;
    line-height: 21px;
    color: white;
}
.experience{
    height: 800px;
    width: 100%;
    position: relative;
    padding: 0px;
}
.line1{
    position: absolute;
    width: 40%;
    left:25%;
    top:5%;
}
.box1{
    position: absolute;
    width:400px;
    height: 450px;
    border: 1px solid white;
    left:10%;
    top:25%;
    
}
.box2{
    position: absolute;
    width: 400px;
    height: 450px;
    border: 1px solid white;
    right: 10%;
    top:25%;
}